<!DOCTYPE html>

<!-- Template adapted from AdminLTE from Almsaeed Studio: https://almsaeedstudio.com. -->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/font-awesome-4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/ionicons-2.0.1/css/ionicons.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/AdminLTE-2.3.0/dist/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/AdminLTE-2.3.0/dist/css/skins/skin-blue.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/marvin.css" />
	<title><h:outputText value="Marvin :: " /> <ui:insert name="title" /></title>
	<ui:insert name="head" />
</h:head>
<h:body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">

			<!-- Logo -->
			<a href="#{facesContext.externalContext.requestContextPath}/" class="logo"><span class="logo-mini">[<b>M</b>]</span>
				<h:panelGroup rendered="#{coreInfo.systemInstalled}"><span class="logo-lg"><b>Marvin</b> @ <h:outputText value="#{coreInfo.currentConfig.institutionAcronym}" /></span></h:panelGroup>
				<h:panelGroup rendered="#{not coreInfo.systemInstalled}"><span class="logo-lg"><b>Marvin</b></span></h:panelGroup>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- FIXME: hidden - Messages: style can be found in dropdown.less-->
						<h:panelGroup rendered="false">
						<li class="dropdown messages-menu">
							<!-- Menu toggle button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span
								class="label label-success">4</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the messages -->
									<ul class="menu">
										<li>
											<!-- start message --> <a href="#">
												<div class="pull-left">
													<!-- User Image -->
													<img src="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/AdminLTE-2.3.0/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
												</div> <!-- Message title and timestamp -->
												<h4>
													Support Team <small><i class="fa fa-clock-o"></i> 5 mins</small>
												</h4> <!-- The message -->
												<p>Why not buy a new awesome theme?</p>
										</a>
										</li>
										<!-- end message -->
									</ul> <!-- /.menu -->
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul>
						</li>
						</h:panelGroup>
						<!-- /.messages-menu -->

						<!-- FIXME: hidden - Notifications Menu -->
						<h:panelGroup rendered="false">
						<li class="dropdown notifications-menu">
							<!-- Menu toggle button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span
								class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- Inner Menu: contains the notifications -->
									<ul class="menu">
										<li>
											<!-- start notification --> <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today
										</a>
										</li>
										<!-- end notification -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul>
						</li>
						</h:panelGroup>
						
						<!-- FIXME: hidden - Tasks Menu -->
						<h:panelGroup rendered="false">
						<li class="dropdown tasks-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span
								class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- Inner menu: contains the tasks -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#"> <!-- Task title and progress text -->
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3> <!-- The progress bar -->
												<div class="progress xs">
													<!-- Change the css width attribute to simulate progress -->
													<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0"
														aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul>
						</li>
						</h:panelGroup>
						
						<!-- FIXME: hidden - User Account Menu -->
						<h:panelGroup rendered="#{sessionController.loggedIn}">
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <!-- The user image in the navbar--> <img
								src="#{facesContext.externalContext.requestContextPath}/resources/default/images/blankAvatar.png" class="user-image" alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
								<h:outputText value="#{sessionController.currentUser.name}" /><span class="hidden-xs"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header"><img src="#{facesContext.externalContext.requestContextPath}/resources/default/images/blankAvatar.png" class="img-circle"
									alt="User Image" />
									<p><h:outputText value="#{sessionController.currentUser.name}" />
										<small><h:outputFormat value="#{msgs['text.memberSince']}"><f:param value="#{sessionController.currentUser.creationDate}" /></h:outputFormat></small>
									</p></li>
								<!-- Menu Body
								<li class="user-body">
									<div class="col-xs-4 text-center">
										<a href="#">Followers</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Sales</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Friends</a>
									</div>
								</li> -->
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="javascript:alert('TODO: implement Edit Profile feature.')" class="btn btn-default btn-flat"><h:outputText value="#{msgs['menu.profile']}" /></a>
									</div>
									<div class="pull-right">
										<a href="#{facesContext.externalContext.requestContextPath}/logout" class="btn btn-default btn-flat"><h:outputText value="#{msgs['menu.logout']}" /></a>
									</div>
								</li>
							</ul>
						</li>
						</h:panelGroup>
						
						<!-- FIXME: hidden - Control Sidebar Toggle Button -->
						<h:panelGroup rendered="false">
						<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
						</h:panelGroup>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- FIXME: hidden - Sidebar user panel (optional) -->
				<h:panelGroup rendered="false">
				<div class="user-panel">
					<div class="pull-left image">
						<img src="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/AdminLTE-2.3.0/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
					</div>
					<div class="pull-left info">
						<p>Alexander Pierce</p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				</h:panelGroup>

				<!-- FIXME: hidden - search form (Optional) -->
				<h:panelGroup rendered="false">
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search..." /> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn" class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				</h:panelGroup>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<h:form id="sidebarMenuForm">
				<ul class="sidebar-menu">
					<li class="header"><h:outputText value="#{msgs['title.menu']}" /></li>
					<li><h:commandLink action="#{installSystemController.begin}" rendered="#{not coreInfo.systemInstalled}"><i class="fa fa-cogs"></i> <span><h:outputText value="#{msgsCore['core.menu.installSystem']}" /></span></h:commandLink></li>
					<li><h:link outcome="/core/login/index" rendered="#{coreInfo.systemInstalled and not sessionController.loggedIn}"><i class="fa fa-key"></i> <span><h:outputText value="#{msgsCore['core.menu.login']}" /></span></h:link></li>
					
					<c:set var="menuOpen" value="#{request.requestURL.indexOf('/core') != -1}" />
					<h:panelGroup rendered="#{coreInfo.systemInstalled and sessionController.loggedIn}">
						<li class="treeview #{menuOpen ? 'active' : ''}">
							<a href="#"><i class="fa fa-cog"></i> <span><h:outputText value="Manage" /></span> <i class="fa fa-angle-left pull-right"></i></a>
							<ul class="treeview-menu #{menuOpen ? 'menu-open' : ''}" style="display: #{menuOpen ? 'block' : 'none'};">
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageAcademicController.list}">
           								Academics
           							</a>
								</li>
								<li>
									<a jsf:immediate="true"  jsf:action="#{managePeriodController.list}">
           								Semesters
           							</a>
								</li>
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageClassController.list}">
           								Classes
           							</a>
								</li>
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageCourseController.list}">
           								Courses
           							</a>
								</li>
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageSubjectController.list}">
           								Subjects
           							</a>
								</li>
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageRoomController.list}">
           								Rooms
           							</a>
								</li>
							</ul>
						</li>
					</h:panelGroup>

					<c:set var="menuOpen" value="#{request.requestURL.indexOf('/alocaWeb') != -1}" />
					<h:panelGroup rendered="#{coreInfo.systemInstalled and sessionController.loggedIn}">
						<li class="treeview #{menuOpen ? 'active' : ''}">
							<a href="#"><i class="fa fa-calendar"></i> <span><h:outputText value="#{msgsCore['alocaweb.title']}" /></span> <i class="fa fa-angle-left pull-right"></i></a>
							<ul class="treeview-menu #{menuOpen ? 'menu-open' : ''}" style="display: #{menuOpen ? 'block' : 'none'};">							
								<li>
									<a jsf:immediate="true"  jsf:action="#{manageAllocationController.list}">
           								Manage Allocations
           							</a>
								</li>
								<li><h:link outcome="/alocaWeb/manageAllocation/export"><h:outputText value="Export Allocations" /></h:link></li>
							</ul>
						</li>
					</h:panelGroup>
					
					<c:set var="menuOpen" value="#{request.requestURL.indexOf('/bibLattes') != -1}" />
					<h:panelGroup rendered="#{coreInfo.systemInstalled and sessionController.loggedIn}">
						<li class="treeview #{menuOpen ? 'active' : ''}">
							<a href="#"><i class="fa fa-graduation-cap"></i> <span><h:outputText value="#{msgsCore['biblattes.title']}" /></span> <i class="fa fa-angle-left pull-right"></i></a>
							<ul class="treeview-menu #{menuOpen ? 'menu-open' : ''}" style="display: #{menuOpen ? 'block' : 'none'};">
								<li><h:link outcome="/bibLattes/index"><h:outputText value="Import CV" /></h:link></li>
								<li><h:link outcome="/bibLattes/curriculo"><h:outputText value="Manage Publications" /></h:link></li>
							</ul>
						</li>
					</h:panelGroup>
				</ul>
				</h:form>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<ui:insert name="title" /> <small><ui:insert name="description" /></small>
				</h1>
				
				<!-- FIXME: hidden -->
				<h:panelGroup rendered="false">
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>
				</h:panelGroup>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- Global messages: -->
				<h:form id="globalMessages">
					<p:growl id="messages" globalOnly="true" showSummary="true" showDetail="true" sticky="true" />
				</h:form>
				
				<!-- Main contents: -->
				<ui:insert name="body" />
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs"><h:outputLink value="https://www.google.com/webhp"><h:outputText value="42" /><f:param name="q" value="Answer+to+the+Ultimate+Question+of+Life%2C+the+Universe%2C+and+Everything" /></h:outputLink></div>
			<!-- Default to the left -->
			<strong>Copyright &#169; 2015 <a href="http://nemo.inf.ufes.br">Nemo/Ufes</a>.
			</strong> All rights reserved.
		</footer>
	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 2.1.4 -->
	<!-- script src="#{facesContext.externalContext.requestContextPath}/resources/default/plugins/jQuery/jQuery-2.1.4.min.js"></script -->
	<!-- Bootstrap 3.3.5 -->
	<script src="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="#{facesContext.externalContext.requestContextPath}/resources/default/stylesheets/AdminLTE-2.3.0/dist/js/app.min.js"></script>

	<!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</h:body>
</html>
