<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.class.form.description']}" /></p>

		<!-- The form to be filled with information on the administrator. -->
		<ui:decorate template="/resources/default/form_2.xhtml">
			<ui:param name="formName" value="Class" />

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="number" />
				<ui:param name="label" value="#{msgsCore['class.field.number']}" />
				<p:inputText id="number" value="#{manageClassController.selectedEntity.number}" size="30" required="true" disabled="#{manageClassController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="slots" />
				<ui:param name="label" value="#{msgsCore['class.field.slots']}" />
				<p:inputText id="slots" value="#{manageClassController.selectedEntity.slots}" size="30" required="true" disabled="#{manageClassController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsCore['class.field.professor']}" />
				<h:selectOneMenu value="#{manageClassController.selectedEntity.academic}" id="academic" converter="#{academicConverter}" >
					<f:selectItems value="#{manageAcademicController.academics}" var="academic" itemValue="#{academic}" itemLabel="#{academic.name}" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="period" />
				<ui:param name="label" value="#{msgsCore['class.field.period']}" />
				<h:selectOneMenu value="#{manageClassController.selectedEntity.period}" id="period" converter="#{periodConverter}" >
					<f:selectItems value="#{managePeriodController.periods}" var="period" itemValue="#{period}" itemLabel="#{period.year}/#{period.number}" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="subject" />
				<ui:param name="label" value="#{msgsCore['class.field.subject']}" />
				<h:selectOneMenu value="#{manageClassController.selectedEntity.subject}" id="subject" converter="#{subjectConverter}" >
					<f:selectItems value="#{manageSubjectController.subjects}" var="subject" itemValue="#{subject}" itemLabel="#{subject.name}" />
				</h:selectOneMenu>
			</ui:decorate>
			
			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="course" />
				<ui:param name="label" value="#{msgsCore['class.field.course']}" />
				<h:selectOneMenu value="#{manageClassController.selectedEntity.course}" id="course" converter="#{courseConverter}" >
					<f:selectItems value="#{manageCourseController.courses}" var="course" itemValue="#{course}" itemLabel="#{course.name} "/>
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<h:panelGroup class="form-group">	
           			<h:panelGroup class="col-sm-3" style="margin-bottom: 15px">
           				<a class="btn btn-block btn-warning btn-social" jsf:immediate="true"  jsf:action="#{manageClassController.list}">
           					<i class="fa fa-rotate-left"></i> 
           					<h:outputText value="#{msgs['crud.button.back']}"/>
           				</a>
               		</h:panelGroup>
					<h:panelGroup class="col-sm-3 col-sm-offset-3" rendered="#{!manageClassController.readOnly}">
						<a  class="btn btn-block btn-info btn-social" jsf:action="#{manageClassController.createEntity}" 
							jsf:update=":form :globalMessages" ><i class="fa  fa-save"></i> 
							<h:outputText value="#{msgs['crud.button.save']}"/>
						</a>
               		</h:panelGroup>
				</h:panelGroup>
			</ui:decorate>
		</ui:decorate>
	
	</ui:define>
</ui:composition>