<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.period.form.description']}" /></p>

		<!-- The form to be filled with information on the administrator. -->
		<ui:decorate template="/resources/default/form_2.xhtml">
			<ui:param name="formName" value="Period" />

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="year" />
				<ui:param name="label" value="#{msgsCore['period.field.year']}" />
				<p:inputText id="year" value="#{managePeriodController.selectedEntity.year}" size="30" required="true" disabled="#{managePeriodController.readOnly}" placeholder="">
				</p:inputText>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="number" />
				<ui:param name="label" value="#{msgsCore['period.field.number']}" />
		        <h:selectOneMenu id="number" value="#{managePeriodController.selectedEntity.number}" required="true" disabled="#{managePeriodController.readOnly}">
		            <f:selectItem itemLabel="First Semester" itemValue="1" />
		            <f:selectItem itemLabel="Second Semester" itemValue="2" />
		        </h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="initialDate" />
				<ui:param name="label" value="#{msgsCore['period.field.initialDate']}" />
				<p:inputMask id="initialDate" value="#{managePeriodController.selectedEntity.initialDate}" size="10" required="true" feedback="false" disabled="#{managePeriodController.readOnly}" mask="99/99/9999">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:inputMask>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="finalDate" />
				<ui:param name="label" value="#{msgsCore['period.field.finalDate']}" />
				<p:inputMask id="finalDate" value="#{managePeriodController.selectedEntity.finalDate}" size="10" required="true" feedback="false" disabled="#{managePeriodController.readOnly}" mask="99/99/9999">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:inputMask>
			</ui:decorate>


			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<h:panelGroup class="form-group">	
           			<h:panelGroup class="col-sm-3" style="margin-bottom: 15px">
           				<a class="btn btn-block btn-warning btn-social" jsf:immediate="true"  jsf:action="#{managePeriodController.list}">
           					<i class="fa fa-rotate-left"></i> 
           					<h:outputText value="#{msgs['crud.button.back']}"/>
           				</a>
               		</h:panelGroup>
					<h:panelGroup class="col-sm-3 col-sm-offset-3" rendered="#{!managePeriodController.readOnly}">
						<a  class="btn btn-block btn-info btn-social" jsf:action="#{managePeriodController.createEntity}" 
							jsf:update=":form :globalMessages" ><i class="fa  fa-save"></i> 
							<h:outputText value="#{msgs['crud.button.save']}"/>
						</a>
               		</h:panelGroup>
				</h:panelGroup>
			</ui:decorate>
		</ui:decorate>
	</ui:define>
</ui:composition>