<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.room.form.description']}" /></p>

		<!-- The form to be filled with information on the administrator. -->
		<ui:decorate template="/resources/default/form_2.xhtml">
			<ui:param name="formName" value="Room" />

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="number" />
				<ui:param name="label" value="#{msgsCore['room.field.number']}" />
				<p:inputText id="number" value="#{manageRoomController.selectedEntity.number}" size="30" required="true" disabled="#{manageRoomController.readOnly}">
				</p:inputText>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="buildingCode" />
				<ui:param name="label" value="#{msgsCore['room.field.building']}" />
				<p:inputText id="buildingCode" value="#{manageRoomController.selectedEntity.buildingCode}" size="30" required="true" feedback="false" disabled="#{manageRoomController.readOnly}" />
			</ui:decorate>
			
			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="buildingFloor" />
				<ui:param name="label" value="#{msgsCore['room.field.floor']}" />
				<p:inputText id="buildingFloor" value="#{manageRoomController.selectedEntity.buildingFloor}" size="30" required="true" feedback="false" disabled="#{manageRoomController.readOnly}" />
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="slots" />
				<ui:param name="label" value="#{msgsCore['room.field.slots']}" />
				<p:inputText id="slots" value="#{manageRoomController.selectedEntity.slots}" size="30" required="true" feedback="false" disabled="#{manageRoomController.readOnly}" />
			</ui:decorate>

			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<h:panelGroup class="form-group">	
           			<h:panelGroup class="col-sm-3" style="margin-bottom: 15px">
           				<a class="btn btn-block btn-warning btn-social" jsf:immediate="true"  jsf:action="#{manageRoomController.list}">
           					<i class="fa fa-rotate-left"></i> 
           					<h:outputText value="#{msgs['crud.button.back']}"/>
           				</a>
               		</h:panelGroup>
					<h:panelGroup class="col-sm-3 col-sm-offset-3" rendered="#{!manageRoomController.readOnly}">
						<a  class="btn btn-block btn-info btn-social" jsf:action="#{manageRoomController.createEntity}" 
							jsf:update=":form :globalMessages" ><i class="fa  fa-save"></i> 
							<h:outputText value="#{msgs['crud.button.save']}"/>
						</a>
               		</h:panelGroup>
				</h:panelGroup>
			</ui:decorate>
		</ui:decorate>
	</ui:define>
</ui:composition>