<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['biblattes.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
  	
		<h:form>
			<p:commandButton value="Export to BibTex" ajax="false" action="#{manageLattesController.exportBibLattes}" icon="ui-icon-arrowthick-1-s" />
		</h:form>
		
		<hr />

	   <p:dataTable var="publication" value="#{manageLattesController.getArticles()}" rows="5" paginator="true"> 
	
	                            <f:facet name="header"> Articles  </f:facet>
	
	                            <p:column headerText="Title">
	                                <h:outputText value="#{publication.title}" />
	                            </p:column>
	                            
	                            <p:column headerText="Journal" priority="2">
	                                <h:outputText value="#{publication.journal}" />
	                            </p:column>
	                            
	                            <p:column headerText="Volume" priority="5" style="width: 80px">
	                                <h:outputText value="#{publication.volume}" />
	                            </p:column>
	                            
	                            <p:column headerText="DOI" priority="4" style="width: 90px">
	                                <h:outputText value="#{publication.doi}" />
	                            </p:column>
	                            
	                            <p:column headerText="ISSN" priority="3" style="width: 90px">
	                                <h:outputText value="#{publication.issn}" />
	                            </p:column>
	
	                            <p:column headerText="Pages" priority="2" style="width: 90px">
	                                <h:outputText value="#{publication.pages}" />
	                            </p:column>
	  </p:dataTable>
	  
	  <hr />
	   <p:dataTable var="publication" value="#{manageLattesController.getBooks()}" reflow="true" rows="5" paginator="true"> 
	
	                            <f:facet name="header"> Books  </f:facet>
	
	                            <p:column headerText="Title">
	                                <h:outputText value="#{publication.title}" />
	                            </p:column>
	                            
	                            <p:column headerText="Edition" style="width: 90px">
	                                <h:outputText value="#{publication.edition}" />
	                            </p:column>
	
	
	                            <p:column headerText="Pages" style="width: 90px">
	                                <h:outputText value="#{publication.pages}" />
	                            </p:column>
	  </p:dataTable>
	  
	  <hr />
	  
	   <p:dataTable var="publication" value="#{manageLattesController.getCollections()}" reflow="true" rows="5" paginator="true"> 
	
	                            <f:facet name="header"> Collections  </f:facet>
	
	                            <p:column headerText="Title">
	                                <h:outputText value="#{publication.title}" />
	                            </p:column>
	                            
	                            <p:column headerText="Book Title">
	                                <h:outputText value="#{publication.bookTitle}" />
	                            </p:column>
	                            
	                            <p:column headerText="Publisher" style="width: 150px">
	                                <h:outputText value="#{publication.publisher}" />
	                            </p:column>
	
	                            <p:column headerText="Pages" style="width: 90px">
	                                <h:outputText value="#{publication.pages}" />
	                            </p:column>
	  </p:dataTable>
	  
	  <hr />
	  
	   <p:dataTable var="publication" value="#{manageLattesController.getProceedings()}" reflow="true" rows="5" paginator="true"> 
	
	                            <f:facet name="header"> Proceedings  </f:facet>
	
	                            <p:column headerText="Title">
	                                <h:outputText value="#{publication.title}" />
	                            </p:column>
	                            
	                            <p:column headerText="Book Title">
	                                <h:outputText value="#{publication.bookTitle}" />
	                            </p:column>
	                            
	                            <p:column headerText="DOI" style="width: 90px">
	                                <h:outputText value="#{publication.doi}" />
	                            </p:column>
	
	                            <p:column headerText="Pages" style="width: 90px">
	                                <h:outputText value="#{publication.pages}" />
	                            </p:column>
	  </p:dataTable>	
	</ui:define>
</ui:composition>