<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['biblattes.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
  			
		<p><h3>Welcome to BibLattes!</h3></p>
		<p>First of all, download your CV lattes following these steps:</p>
		<ol>
			<li>Access <a href="http://buscatextual.cnpq.br/buscatextual">http://buscatextual.cnpq.br/buscatextual</a>;</li>
			<li>Type your full name in the text field and press Search. Make sure you marked the Doctors and Other researchers</li>
			<li>Click on the result with your name, and then click on Open Curriculum</li>
			<li>Fill in the captcha, and select submit</li>
			<li>Click on the XML icon in the top-right corner of your page</li>
			<li>Fill in the captcha again, and select submit</li>
			<li>This procedure will download your CV Lattes within a zip file, find this file and extract it</li>
		</ol>
		
		<p>Please, select the xml file that you want to upload by clicking in <b>Choose</b> and then selecting <b>Import</b></p>
		
		<h:form enctype="multipart/form-data">
		    <p:growl id="messages" showDetail="true" />
		 
		    <p:fileUpload value="#{manageLattesController.file}" mode="simple" skinSimple="true"/>
		 
		    <p:commandButton value="Import" ajax="false" actionListener="#{manageLattesController.readXML(sessionController.currentUser)}"  disabled="false" />
		</h:form>
		
	</ui:define>
</ui:composition>