<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.text.instructions']}" /></p>

		<h:form>
			<div class="row">
				<div class="col-sm-3" style="text-align: center">
					<a jsf:action="#{managePeriodController.list()}">
						<i class="fa fa-tags fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.period.seeAll']}"/>
					</a>			
				</div>
				<div class="col-sm-3" style="text-align: center">
					<a jsf:action="#{manageClassController.list()}">
						<i class="fa fa-users fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.class.seeAll']}"/>
					</a>			
				</div>
				<div class="col-sm-3" style="text-align: center">
					<a jsf:action="#{manageCourseController.list()}">
						<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.course.seeAll']}"/>
					</a>			
				</div>
				<div class="col-sm-3" style="text-align: center">
					<a jsf:action="#{manageSubjectController.list()}">
						<i class="fa fa-book fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.subject.seeAll']}"/>
					</a>			
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-3 col-sm-offset-3" style="text-align: center">
					<a jsf:action="#{manageRoomController.list()}">
						<i class="fa fa-home fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.room.seeAll']}"/>
					</a>			
				</div>
				<div class="col-sm-3" style="text-align: center">
					<a jsf:action="#{manageAllocationController.list()}">
						<i class="fa fa-calendar-plus-o fa-5x" aria-hidden="true"></i><br /><h:outputText value="#{msgsCore['crud.allocation.seeAll']}"/>
					</a>			
				</div>		
			</div>
			<br/>

		</h:form>
	</ui:define>
</ui:composition>