<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{msgsCore['alocaweb.title']}" />
	</ui:define>
    
    <ui:define name="description">
    	<h:outputText value="#{msgsCore['alocaweb.title.description']}" />
    </ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.course.form.description']}" /></p>

		<!-- The form to be filled with information on the administrator. -->
		<ui:decorate template="/resources/default/form_2.xhtml">
			<ui:param name="formName" value="Course" />
			<ui:param name="formLabel" value="Create a new Course" />

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsCore['course.field.name']}" />
				<p:inputText id="name" value="#{manageCourseController.selectedEntity.name}" size="30" required="true" disabled="#{manageCourseController.readOnly}">
				</p:inputText>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="code" />
				<ui:param name="label" value="#{msgsCore['course.field.code']}" />
				<p:inputText id="code" value="#{manageCourseController.selectedEntity.code}" size="30" required="true" feedback="false" disabled="#{manageCourseController.readOnly}" />
			</ui:decorate>

				<ui:decorate template="/resources/sae/formbutton.xhtml">
					<h:panelGroup class="form-group">	
            			<h:panelGroup class="col-sm-3" style="margin-bottom: 15px">
            				<a class="btn btn-block btn-warning btn-social" jsf:immediate="true"  jsf:action="#{manageCourseController.list}">
            					<i class="fa fa-rotate-left"></i> 
            					<h:outputText value="#{msgs['crud.button.back']}"/>
            				</a>
                		</h:panelGroup>
						<h:panelGroup class="col-sm-3 col-sm-offset-3" rendered="#{!manageCourseController.readOnly}">
							<a  class="btn btn-block btn-info btn-social" jsf:action="#{manageCourseController.createEntity}" 
								jsf:update=":form :globalMessages" ><i class="fa  fa-save"></i> 
								<h:outputText value="#{msgs['crud.button.save']}"/>
							</a>
                		</h:panelGroup>
					</h:panelGroup>
				</ui:decorate>
		</ui:decorate>
	</ui:define>
</ui:composition>