<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
  			
		<p><h3>Export Allocations</h3></p>
		<p>To export a list of allocations, you have to specify the period to be exported and then click on Export.</p>		
		
    <ui:decorate template="/resources/sae/form.xhtml">
		<ui:param name="formName" value="Select a period" />
        <h:form id="filterForm" pt:class="form-horizontal">
        	<h:panelGroup  id="filterBar">
            	<div class="form-group">	
	            	<div class="col-sm-3">
	            		<h:outputText styleClass="form-control" value="#{msgsCore['class.field.period']}" />
	            	</div>
	            	<div class="col-sm-4">
						<h:selectOneMenu styleClass="form-control" value="#{manageAllocationController.period}" id="period" converter="#{periodConverter}" >
							<f:selectItems value="#{managePeriodController.periods}" var="period" itemValue="#{period}" itemLabel="#{period.year}/#{period.number}" />
						</h:selectOneMenu>	
                	</div>
                	<div class="col-sm-2">
                		<a class="btn btn-block btn-info btn-social" jsf:action="#{manageAllocationController.createPDF()}" >
                		   <i class="fa fa-search"></i> <h:outputText value="Export"/>
                		</a>
                	</div>
            	</div>
			</h:panelGroup>
		</h:form> 		
	</ui:decorate>	
		
	</ui:define>
</ui:composition>