<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['alocaweb.title.description']}" /></ui:define>

  	<ui:define name="body">
		<p><h:outputText value="#{msgsCore['alocaweb.allocation.form.description']}" /></p>

		<!-- The form to be filled with information on the administrator. -->
		<ui:decorate template="/resources/default/form_2.xhtml">
			<ui:param name="formName" value="Allocation" />

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="class_" />
				<ui:param name="label" value="#{msgsCore['allocation.field.class']}" />
				<h:selectOneMenu value="#{manageAllocationController.selectedEntity.class_}" id="class_" converter="#{classConverter}" valueChangeListener="#{manageRoomController.updateRooms}" onchange="submit()" disabled="#{manageAllocationController.readOnly}">
					<f:selectItem itemLabel="Select a class" itemValue="#{null}" noSelectOption="true"/>
					<f:selectItems value="#{manageClassController.classes}" var="class_" itemValue="#{class_}" itemLabel="#{class_.number}" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="room" />
				<ui:param name="label" value="#{msgsCore['allocation.field.room']}" />
				<h:selectOneMenu value="#{manageAllocationController.selectedEntity.room}" id="room" converter="#{roomConverter}" disabled="#{manageAllocationController.selectedEntity.class_ == null || manageAllocationController.readOnly}" valueChangeListener="#{manageAllocationController.updateAvailableTimes}" onchange="submit()" >
					<f:selectItem itemLabel="Select a room" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{manageRoomController.rooms}" var="room" itemValue="#{room}" itemLabel="#{room.number}" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="dayOfWeek" />
				<ui:param name="label" value="#{msgsCore['allocation.field.dayOfWeek']}" />
				<h:selectOneMenu value="#{manageAllocationController.selectedEntity.dayOfWeek}" id="dayOfWeek" disabled="#{manageAllocationController.selectedEntity.room == null || manageAllocationController.readOnly}" >
					<f:selectItem itemLabel="Select a day of the week" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{manageAllocationController.dayOfWeek}" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="initialTime" />
				<ui:param name="label" value="#{msgsCore['allocation.field.initialTime']}" />
				<h:selectOneMenu value="#{manageAllocationController.selectedEntity.initialTime}" id="initialTime" disabled="#{manageAllocationController.selectedEntity.room == null || manageAllocationController.readOnly}" valueChangeListener="#{manageAllocationController.updateAvailableFinalTimes}" onchange="submit()" >
					<f:selectItem itemLabel="Select a initial time" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{manageAllocationController.availableInitialTimes}" var="initialTime" itemValue="#{initialTime}" itemLabel="#{manageAllocationController.df.format(initialTime)}" />
					<f:convertDateTime pattern="HH:mm" />
				</h:selectOneMenu>
			</ui:decorate>

			<ui:decorate template="/resources/sae/formfield.xhtml">
				<ui:param name="fieldName" value="finalTime" />
				<ui:param name="label" value="#{msgsCore['allocation.field.finalTime']}" />
				<h:selectOneMenu value="#{manageAllocationController.selectedEntity.finalTime}" converter="javax.faces.DateTime" id="finalTime" disabled="#{manageAllocationController.selectedEntity.initialTime == null || manageAllocationController.readOnly}" >
					<f:selectItem itemLabel="Select a final time" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{manageAllocationController.availableFinalTimes}" var="finalTime" itemValue="#{finalTime}" itemLabel="#{manageAllocationController.df.format(finalTime)}"/>
					<f:convertDateTime pattern="HH:mm" />
				</h:selectOneMenu>
			</ui:decorate>
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<h:panelGroup class="form-group">	
           			<h:panelGroup class="col-sm-3" style="margin-bottom: 15px">
           				<a class="btn btn-block btn-warning btn-social" jsf:immediate="true"  jsf:action="#{manageAllocationController.list}">
           					<i class="fa fa-rotate-left"></i> 
           					<h:outputText value="#{msgs['crud.button.back']}"/>
           				</a>
               		</h:panelGroup>
					<h:panelGroup class="col-sm-3 col-sm-offset-3" rendered="#{!manageAllocationController.readOnly}">
						<a  class="btn btn-block btn-info btn-social" jsf:action="#{manageAllocationController.save}" 
							jsf:update=":form :globalMessages" ><i class="fa  fa-save"></i> 
							<h:outputText value="#{msgs['crud.button.save']}"/>
						</a>
               		</h:panelGroup>
				</h:panelGroup>
			</ui:decorate>
			
		</ui:decorate>
	
	</ui:define>
</ui:composition>