<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsCore['alocaweb.title']}" /></ui:define>
<ui:define name="breadcrumb">
	<li><a href="#{facesContext.externalContext.requestContextPath}/index.faces"><i class="fa fa-home"></i> Home</a></li>
	<li class="active"><i class="fa fa-user"></i><h:outputText value="#{msgsCore['alocaweb.title']}" /></li> 
</ui:define>
	
<ui:define name="body">
	<!-- The listing form. -->
    <ui:decorate template="/resources/sae/form.xhtml">
		<ui:param name="formName" value="#{msgsCore['manageAllocation.title.box.list']}" />
        <h:form id="filterForm" pt:class="form-horizontal">
        	<h:panelGroup  id="filterBar" rendered="#{(not empty manageAllocationController.filters)}">
            	<div class="form-group">	
	            	<div class="col-sm-3">
	            		<h:selectOneMenu styleClass="form-control" value="#{manageAllocationController.filterKey}" id="filter" required="true">
	            			<f:selectItems value="#{manageAllocationController.filters}" var="filter" itemLabel="#{filter.label}" 
	            						   itemValue="#{filter.key}" />
			                <f:ajax event="change" execute="@form" listener="#{manageAllocationController.changeFilter}" 
			                		render="@form :listingForm"  />
	            		</h:selectOneMenu>
	            	</div>
	            	<div class="col-sm-4">
	            		<h:selectOneMenu styleClass="form-control"  required="false" value="#{manageAllocationController.filterParam}" 
	            						 id="filterSelect" rendered="#{manageAllocationController.filter.options != null}">
		                	<f:selectItems value="#{manageAllocationController.filter.reversedOptionsLabels}" />
		                </h:selectOneMenu>
					 	<p:inputText pt:class="form-control" placeholder="#{msgs['crud.filter.placeholder']}" id="filterText"  
					 				 required="false" value="#{manageAllocationController.filterParam}" 
					 				 rendered="#{manageAllocationController.filter.options == null}" />
                	</div>
                	<div class="col-sm-2">
                		<a class="btn btn-block btn-info btn-social" jsf:process="@form" jsf:action="#{manageAllocationController.filter}" 
                		   jsf:update=":listingForm @form" >
                		   <i class="fa fa-search"></i> <h:outputText value="#{msgs['crud.button.filter']}"/>
                		</a>
                	</div>
					<div class="col-sm-3" jsf:rendered="#{manageAllocationController.filtering}">
						<a class="btn btn-block btn-danger btn-social" jsf:process="@form" 
							jsf:action="#{manageAllocationController.cancelFilter}" jsf:update=":listingForm @form">
							<i class="fa fa-close"></i> <h:outputText value="#{msgs['crud.button.cancelFilter']}"/>
						</a>
                	</div>
            	</div>
			</h:panelGroup>
		</h:form> 	
            	
  
            	
       <h:form id="listingForm" style="margin-bottom: 25px">
       		<p:dataTable 
	   				 	widgetVar="listingTable"
           			    rowIndexVar="rowIndex"
               			tableStyleClass="table table-bordered table-striped"
                  		value="#{manageAllocationController.lazyEntities}" 
                   		var="entity"
                   		lazy="true"
                   		rows="#{manageAllocationController.maxDataTableRowsPerPage}" 
                   		rowsPerPageTemplate="#{manageAllocationController.halfMaxDataTableRowsPerPage},#{manageAllocationController.maxDataTableRowsPerPage},#{manageAllocationController.doubleMaxDataTableRowsPerPage}"
                   		paginator="true" 
                   		selection="#{manageAllocationController.selectedEntity}" 
                  		selectionMode="single" 
                  		paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                  		paginatorPosition="bottom" 
                  		loadingMessage="#{msgs['text.ajax.loading']}" 
                   		emptyMessage="#{manageAllocationController.filtering ? msgsCore['manageAllocation.text.noEntitiesFiltered'] : msgsCore['manageAllocation.text.noEntities']}">
							
      			<p:column headerText="#{msgsCore['manageAllocation.title.buildingCode']}"  style="text-align: center; width:25%;"> 
           			<h:outputText value="#{entity.room.buildingCode}" />
           		</p:column>
           							
      			<p:column headerText="#{msgsCore['manageAllocation.title.room']}"  style="text-align: center; width:25%;"> 
           			<h:outputText value="#{entity.room.number}" />
           		</p:column>
           		
           		<p:column headerText="#{msgsCore['manageAllocation.title.class']}"  style="text-align: center;"> 
           			<h:outputText value="#{entity.class_.number}" />
           		</p:column>

           		<p:column headerText="#{msgsCore['manageAllocation.title.time']}"  style="text-align: center;"> 
           			<h:outputText value="#{entity.initialTime} - #{entity.finalTime}" />
           		</p:column>
           		
           		<p:column headerText="#{msgsCore['manageAllocation.title.day']}"  style="text-align: center;"> 
           			<h:outputText value="#{entity.dayOfWeek}" />
           		</p:column>

           		<p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
       	</h:form>
        		
        		
        	<!-- Buttons shown below the listing. -->
        <h:form id="buttonsForm">
            <ui:decorate template="/resources/sae/formbutton.xhtml">
	        	<div class="form-group">
	        	<div class="row">	
	            	<div class="col-sm-3" style="margin-bottom: 15px" >
	        			<a class="btn btn-block btn-success btn-social" jsf:action="#{manageAllocationController.create}">
	        				<i class="fa fa-user-plus"></i> <h:outputText value="#{msgs['crud.button.create']}"/>
	        			</a>
	                </div>
	                <div class="col-sm-3" style="margin-bottom: 15px" jsf:rendered="#{manageAllocationController.selectedEntity != null}">
	        			<a class="btn btn-block btn-info btn-social" jsf:action="#{manageAllocationController.retrieve}" 
	        				jsf:disabled="#{manageAllocationController.selectedEntity == null}">
	        				<i class="fa  fa-file-text"></i> <h:outputText value="#{msgs['crud.button.retrieve']}"/>
	        			</a>
	            	</div>
	            	<div class="col-sm-3"  style="margin-bottom: 15px" jsf:rendered="#{manageAllocationController.selectedEntity != null}">
	        			<a class="btn btn-block btn-warning btn-social" jsf:action="#{manageAllocationController.update}" 
	        				jsf:disabled="#{manageAllocationController.selectedEntity == null}"><i class="fa  fa-refresh">
	        				</i> <h:outputText value="#{msgs['crud.button.update']}"/>
	        			</a>
	            	</div>
	            	<div class="col-sm-3" jsf:rendered="#{manageAllocationController.selectedEntity != null}">
	        			<a class="btn btn-block btn-danger btn-social" jsf:action="#{manageAllocationController.trash}" 
	        				jsf:disabled="#{manageAllocationController.selectedEntity == null}" jsf:process="@this" jsf:update=":trashForm">
	        				<i class="fa  fa-trash-o"></i> <h:outputText value="#{msgs['crud.button.delete']}"/>
	        			</a>
	           		</div>
	           	</div>
	           	</div>
	    	</ui:decorate>
    	</h:form>
	</ui:decorate> <!-- DEFINE FORM. -->
        
        
       
        <!-- The trash panel: shows entities that have been selected for deletion. -->
	<h:panelGroup id="teste" rendered="#{not empty manageAllocationController.trashCan}" >
        <ui:decorate template="/resources/sae/formDanger.xhtml"  >
			<ui:param name="formName" value="#{msgsCore['manageAllocation.title.box.trash']}" />
            <h:form id="trashForm" >
	            <h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
	            <p:dataList value="#{manageAllocationController.trashCan}" var="entity" type="ordered">
	            	Room: #{entity.room.number} - Class: #{entity.class_.number} - #{entity.initialTime}/#{entity.finalTime} - #{entity.dayOfWeek}
	            </p:dataList>
                <ui:decorate template="/resources/sae/formbutton.xhtml">
       				<div class="form-group">	
           				<div class="col-sm-3" style="margin-bottom: 15px">
           					<a class="btn btn-block btn-warning btn-social" jsf:action="#{manageAllocationController.cancelDeletion}" 
           						jsf:update=":trashForm :buttonsForm :listingForm"><i class="fa  fa-close">
           						</i> <h:outputText value="#{msgs['crud.button.cancelDeletion']}"/>
           					</a>
           				</div>
                        <div class="col-sm-3">
	                       	<a class="btn btn-block btn-danger btn-social" jsf:action="#{manageAllocationController.delete}" 
	                       		jsf:update=":trashForm :buttonsForm :listingForm"><i class="fa  fa-trash-o">
	                       		</i> <h:outputText value="#{msgs['crud.button.confirmDeletion']}"/>
	                       	</a>
           				</div>
           			</div>
           		</ui:decorate>
         	</h:form>
		</ui:decorate>
	</h:panelGroup>
		       
        
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>